* {
  box-sizing: border-box;
}

header {
  color: white;
  background-color: #2f2f39;
  width: 100%;
  top: 0;
  position: fixed;
}

body {
  font-family: 'Oxygen', sans-serif;
  margin: 0 auto;
}

body {
    background-image: url("img/pattern.png");
    background-repeat: repeat;
}

form {
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  margin-top: 100px;
  padding: 20px;
}

h1 {
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
    ;
}

h2,
p {
  width: 100%;
  margin: 0 0 5px 0;
  text-align: center;
}

p {
  padding-bottom: 20px;
}



textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 5px 5px rgba(0,0,0,0.03) inset;
  margin-bottom: 15px;
}



input:focus,
textarea:focus {
  transition: background-color 350ms ease-out;
  background-color: #5b5b70;
}

textarea {
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #9797b4;
}


input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}


button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #5b5b70;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;

  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 0px;
  border: none;
}

legend {
  width: 100%;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 10px;;
  border-top: 5px solid #5b5b70;
  padding-top: 30px;
}





label.light {
  font-weight: 300;
  display: inline;
}

label[for="other_topics"] {
  padding-top: 10px;
}

.news {
  padding-top: 20px;
  padding-bottom: 5px;
}

.select_news {
  padding-bottom: 5px;
  width: 100%;
}


.contact,
.newsletter {
  padding-top: 20px;
}




footer {
  height: 100px;
  padding: 30px;
  text-align: center;
  color: white;
  font-style: italic;
}
